{% extends 'base.twig' %}

{% block body %}
    {% if 'admin' == user.role %}
        <br>
        <div class="container">
            <h1>List of users</h1>
            <table class="table table-hover table-borderless">
                <thead class="table-light">
                <tr>
                    <th scope="col">Login</th>
                    <th scope="col">Role</th>
                    <th scope="col">Access</th>
                    <th scope="col">Block</th>
                </tr>
                </thead>
                <tbody>

                {% for userFromList in users %}
                    {% if user.login != userFromList.login %}
                        <tr>
                            <th scope="row">{{ userFromList.login|escape }}</th>
                            <td>{{ userFromList.role|escape }}</td>
                            <td>{{ userFromList.accessStatus|escape }}</td>
                            <td>
                                {% if userFromList.accesSstatus == 1 %}
                                    <form action="/block-user" method="post" >
                                        <button type="submit" class="btn btn-danger btn-sm mb-2" style="height:30px;width:100px" id="{{ userFromList.id }}" name="{{ userFromList.id }}" value="block">Block</button>
                                    </form>
                                {% else %}
                                    <form action="/block-user" method="post">
                                        <button type="submit" class="btn btn-success btn-sm mb-2" style="height:30px;width:100px" id="{{ userFromList.id }}" name="{{ userFromList.id }}" value="unblock">Unblock</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}


                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <h1 class="mb-3 mt-5">This is not your business</h1>
        </div>
    {% endif %}

{% endblock %}